@import 'variables';

:host {
    display: flex;
}

.article-list {
    width: calc(100% - 335px);
    .page-header {
        font-size: 21px;
    }
}

.top-row {
    margin-bottom: 20px;
}

.side-content {
    width: 300px;
    margin-left: 35px;

    .add-article-button {
        float: right;

        .button-icon {
            vertical-align: top;
            font-size: 22px;
            height:18px;
        }
    }

    .widget-card {
        background-color: $color-white;
        box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.03);
        font-size: 13px;

        .widget-header {
            p {
                color: $additional-text;
            }

            .more-icon {
                color: $default-text-field;
                position: relative;
                bottom: 5px;
            }
        }

        .widget-date {
            .month-day {
                color: $weather-widget-date;
                font-size: 21px;
                margin-bottom: 5px;
            }

            .week-day {
                color: $additional-text;
            }
        }

        .widget-temp-location {
            .left-part {
                margin-right: 30px;

                .temperature {
                    color: $weather-widget-degree;
                    font-size: 60px;
                    line-height: 60px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                .location {
                    color: $weather-widget-loaction;
                }
            }
        }
    }
}
