<div class="article-list">
    <div class="row top-row">
        <div class="col-md-6 d-flex justify-content-between align-items-end">
            <h5 class="page-header spacer-0">Articles Dashboard</h5>
            <div class="category-filter">

            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
<div class="side-content">
    <div class="row top-row">
        <div class="col">
            <button class="add-article-button button-small primary-button" (click)="addNewArticle()">
                <mat-icon class="button-icon">add</mat-icon>
                Add article
            </button>
        </div>
    </div>
    <app-weather></app-weather>
</div>
