@import 'variables';

:host {
    display: flex;
}

.article-list {
    width: calc(100% - 335px);
    .page-header {
        font-size: 21px;
    }
}

.top-row {
    margin-bottom: 20px;
}

.side-content {
    width: 300px;
    margin-left: 35px;

    .add-article-button {
        float: right;

        .button-icon {
            vertical-align: top;
            font-size: 22px;
            height:18px;
        }
    }
}
