<div class="article-list">
    <div class="row top-row">
        <div class="col-md-6 d-flex justify-content-between align-items-end">
            <h5 class="page-header spacer-0">Articles Dashboard</h5>
            <div class="category-filter">
                Show: All categories >
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
<div class="side-content">
    <div class="row top-row">
        <div class="col">
            <button class="add-article-button button-small primary-button">
                <mat-icon class="button-icon">add</mat-icon>
                Add article
            </button>
        </div>
    </div>
    <mat-card class="widget-card">
        <div class="widget-header d-flex justify-content-between">
            <p>WEATHER WIDGET</p>
            <mat-icon class="more-icon">more_horiz</mat-icon>
        </div>

        <div class="widget-date">
            <p class="month-day">June 12</p>
            <p class="week-day">Wednesday</p>
        </div>

        <div class="widget-temp-location d-flex">
            <div class="left-part">
                <p class="temperature">27</p>
                <p class="location">Lviv, Ukraine</p>
            </div>
            <div class="weather-icon d-flex align-items-center">
                icon
            </div>
        </div>
    </mat-card>
</div>
