<div class="login-page">
    <div class="side-image">
        <img src="assets/images/forgot_password.png" alt="forgot_password_background">
    </div>

    <div class="content-wrapper">
        <div class="container">
            <h1 class="header-main">Password recovery</h1>

            <p class="subheader">Enter the email you're using for your account.</p>

            <div class="forgot-password-block">
                <form [formGroup]="resetPassForm" (ngSubmit)="onSubmitForm()">
                    <div class="row">
                        <div class="col pos-relative">
                            <label for="email-address">Email Address</label>
                            <input id="email-address" name="email-address" type="text" formControlName="email"
                                   placeholder="Enter your email address">
                            <p *ngIf="resetPassForm.controls['email'].touched &&
                                resetPassForm.controls['email'].errors?.['email']"
                                class="under-input-error text-danger">Please enter correct email address</p>
                        </div>
                    </div>

                    <button *ngIf="!loading" type="submit" class="button primary-button block-element">Reset</button>

                    <app-loading-spinner *ngIf="loading"></app-loading-spinner>

                    <p class="text-center">
                        <a class="link" [routerLink]="['/auth/login']">Back to Login</a>
                    </p>

                    <p class="text-danger text-center" *ngIf="error">
                        {{ error }}
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
