@import 'variables';

.login-page {
    display: flex;

    .side-image {
        img {
            height: 100vh;
            width: auto;
            vertical-align: top;
        }
    }

    .content-wrapper {
        height: 100vh;
        overflow: scroll;
        flex-grow: 1;
        min-width: 500px;

        .container {
            width: 465px;
            margin: 50vh auto 0 auto;
            transform: translateY(-50%);

            input {
                width: 100%;
                margin-bottom: 27px;
            }

            button.primary-button {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}
