$primary-color: #4C6FFF;
$secondary-color: #1A1E2C;
$header-color: #040D32;
$input-background: #F5F6F7;
$status-color: #2E5BFF;
$inactive-state: rgba(111, 124, 139, 0.5);
$default-text-field: #6F7C8B;
$disabled-color: #EAEDF3;
$dropdown-color: #8E94A7;
$color-white: #FFFFFF;
$other-accounts-border: #9D9D9D;
$agreement-text-color: #666666;
$avatar-text: #52575C;
$additional-text: #6E798C;
$weather-widget-date: #081F32;
$weather-widget-degree: #2E384D;
$weather-widget-loaction: #374A59;

$default-field-padding: 16px 32px;
$default-field-padding-console: 14px 32px 12px 32px;
