$primary-color: #4C6FFF;
$secondary-color: #1A1E2C;
$header-color: #040D32;
$input-background: #F5F6F7;
$status-color: #2E5BFF;
$inactive-state: rgba(111, 124, 139, 0.5);
$default-text-field: #6F7C8B;
$disabled-color: #EAEDF3;
$dropdown-color: #8E94A7;
$color-white: #FFFFFF;
$other-accounts-border: #9D9D9D;
$agreement-text-color: #666666;

$default-field-padding: 16px 32px;
