<h6>Change your password</h6>

<form [formGroup]="editPasswordForm" (ngSubmit)="onSubmitForm()">
    <div class="row">
        <div class="col">
            <label for="oldPassword">Old Password</label>
            <input id="oldPassword" name="oldPassword" type="password" formControlName="oldPassword"
                   placeholder="Enter your current password">
        </div>
    </div>

    <div class="row">
        <div class="col pos-relative">
            <label for="newPassword">New Password</label>
            <input id="newPassword" name="newPassword" type="password" formControlName="newPassword"
                   placeholder="Enter your new password">
            <p *ngIf="editPasswordForm.controls['newPassword'].touched &&
                editPasswordForm.controls['newPassword'].errors?.['minlength']"
                class="under-input-error text-danger">New password has to be 8 digits or longer</p>
        </div>
    </div>
    <div class="row">
        <div class="col pos-relative">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input id="confirmNewPassword" name="confirmNewPassword" type="password"
                formControlName="confirmNewPassword" placeholder="Enter your new password again">
            <p *ngIf="editPasswordForm.controls['confirmNewPassword'].touched &&
                editPasswordForm.controls['confirmNewPassword'].errors?.['NoPassswordMatch']"
                class="under-input-error text-danger">Passwords do not match</p>
        </div>
    </div>

    <button type="submit" class="hidden-submit-button" #submitBtn></button>
</form>
