<h6>Change your password</h6>

<form [formGroup]="editPasswordForm" (ngSubmit)="onSubmitForm()">
    <div class="row">
        <div class="col">
            <label for="oldPassword">Old Password</label>
            <input name="oldPassword" type="password" formControlName="oldPassword"
                   placeholder="Enter your current password">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="newPassword">New Password</label>
            <input name="newPassword" type="password" formControlName="newPassword"
                   placeholder="Enter your new password">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="age">Confirm New Password</label>
            <input name="confirmNewPassword" type="password" formControlName="confirmNewPassword"
                   placeholder="Enter your new password again">
        </div>
    </div>

    <button type="submit" class="hidden-submit-button" #submitBtn></button>
</form>
