@import 'variables';

:host {
    h6 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    label {
        font-size: 14px;
        display: block;
    }

    input {
        width: 100%;
        max-width: 465px;
        margin-bottom: 27px;
        font-size: 14px;
        padding: $default-field-padding-console;
    }
}
