<mat-card class="article">
    <div class="article-image business-background">
        <img src="assets/images/laptop.png" alt="Laptop" class="src">
    </div>
    <div class="artcle-desc">
        <div class="top-desc d-flex justify-content-between">
            <p>BUSINESS</p>
            <p>15 Dec 2021</p>
        </div>

        <div class="mid-desc">
            <h5>Header</h5>
            <p>
                dfsadffdaf asdfsadfdsf safdsfads s sdfsdf sfdsfsa ad  sdaasd
            </p>
        </div>

        <div class="bottom-desc d-flex justify-content-between">
            <div class="avatar-wrapper d-flex justify-content-center align-items-center">
                <div class="user-avatar">
                    <img class="avatar-image" [src]="'assets/images/laptop.png'"
                            alt="image">
                </div>

                <div class="user-name">
                    Name User
                </div>
            </div>

            <a class="link">
                <span>Read More</span> <mat-icon class="read-more-icon">arrow_forward</mat-icon>
            </a>
        </div>
    </div>
</mat-card>
