@import '../../../../../scss/variables';

.article {
    padding: 0;
    font-size: 13px;
    box-shadow: 0 24px 64px rgb(0 0 0 / 3%);

    .more-icon {
        position: absolute;
        right: 15px;
        top: 10px;
        color: $color-white;
        cursor: pointer;
        z-index: 2;
    }

    .icon-background {
        position: absolute;
        right: 15px;
        top: 10px;
        height: 24px;
        width: 24px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        z-index: 1;
    }

    .menu {
        top: 35px;
        right: 15px;
    }

    .article-image {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            height: auto;
        }
    }

    .article-image-full {
        height: 160px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    .media-background {
        background: linear-gradient(135deg, #F395BA 0%, #FED182 100%);
    }

    .productivity-background {
        background: #BCD1FF;
    }

    .business-background {
        background: linear-gradient(0deg, #D2EBF7, #D2EBF7), #BCD1FF;
    }

    .artcle-desc {
        padding: 15px 20px;

        .top-desc {
            color: $additional-text;

            p {
                margin-bottom: 5px;
            }
        }

        .mid-desc {
            height: 150px;

            h5 {
                font-size: 21px;
            }
        }

        .bottom-desc {
            .avatar-wrapper {
                .user-avatar {
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 10px;

                    .avatar-image {
                        width: 32px;
                        height: 32px;
                    }
                }

                .user-name {
                    color: $status-color;
                }
            }

            .link {
                height: 33px;
                line-height: 33px;
                font-weight: 500;

                span {
                    vertical-align: middle;
                    margin-right: 5px;
                    font-size: 11px;
                }

                .read-more-icon {
                    font-size: 10px;
                    height: 10px;
                    width: 10px;
                    vertical-align: middle;
                }
            }
        }
    }
}
