@import "variables";

.privacy-policy-page {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        background-color: $header-color;
        padding-bottom: 30px;

        .logo-image {
            position: relative;
            right: 30px;
            height: 100px;
            width: auto;
            margin-bottom: 10px;
        }

        &-text {
            font-size: 28px;
            color: $color-white;
            display: inline-block;
        }

        &-icon {
            font-weight: 200;
            margin-right: 20px;
            font-size: 16px;
            position: relative;
            bottom: 2px;
        }
    }

    .content {
        padding-top: 50px;
        padding-bottom: 50px;

        h1 {
            margin-bottom: 40px;
        }

        .rule {
            h3 {
                font-size: 21px;
            }

            p {
                font-size: 14px;
            }

            h3,
            p {
                margin-bottom: 25px;
            }
        }
    }
}
