/* You can add global styles to this file, and also import other style files */
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    color: $secondary-color;
}

html, body {
    width: 100%;
    height: 100%;
}

.header-main {
    font-size: 30px;
    margin-bottom: 8px;
}

.subheader {
    margin-bottom: 47px;
    font-weight: normal;
}

.cursor-pointer {
    cursor: pointer;
}

.link {
    color: $status-color;
    text-decoration: none;
    cursor: pointer;
}

.button {
    font-size: 16px;
    cursor: pointer;
    padding: $default-field-padding;
    border-radius: 3px;
    border: none;
}

.button-small {
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
}

.primary-button {
    background: $primary-color;
    color: white;
}

.button-outline {
    background: transparent;
    color: $default-text-field;
    border: 1px solid $default-text-field;
}

.fixed-width-button {
    display: inline-block;
    width: 130px;
}

.agreement-text {
    color: $agreement-text-color;
    font-weight: 400;
    cursor: pointer;
}

.block-element {
    display: block;
}

.spacer-0 {
    margin-bottom: 0;
}

.menu {
    position: absolute;
    right: 0;
    width: 160px;
    background-color: $color-white;
    z-index: 999;

    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
                0px 6px 16px rgba(0, 0, 0, 0.08),
                0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 3px;

    .menu-item {
        cursor: pointer;
        padding: 10px 20px;

        &:hover {
            color: $status-color;
            background: rgba(46,91,255, 0.04);
        }
    }
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

form.ng-submitted input.ng-invalid,
form.ng-submitted input.ng-invalid ~ .checkmark {
    border: 1px solid red;
}

label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: $default-text-field;
}

input {
    background-color: $input-background;
    padding: $default-field-padding;
    font-size: 16px;
    border: 1px solid $input-background;
    outline: none;
    border-radius: 3px;
}

input:hover {
    border: 1px solid $primary-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
