<mat-card class="edit-profile-fields">
    <h5>Manage your account</h5>

    <div class="edit-profile-tabs">
        <mat-tab-group animationDuration="0ms" (selectedTabChange)="changeTab($event)">
            <mat-tab label="Edit Information">
                <app-edit-information *ngIf="tabIndex === 0"></app-edit-information>
            </mat-tab>
            <mat-tab label="User Avatar">
                <app-edit-avatar *ngIf="tabIndex === 1"></app-edit-avatar>
            </mat-tab>
            <mat-tab label="Change Password">
                <app-edit-password *ngIf="tabIndex === 2"></app-edit-password>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="operate-buttons">
        <button type="button" class="button button-outline button-small"
                (click)="backToDashboard()">Cancel</button>
        <button type="submit" class="button primary-button button-small">Save</button>
    </div>
</mat-card>
